body {
    font-family: Roboto;
    margin: 0;
    /* background-color: #666565; */
    background-image: url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.header {
    overflow: hidden;
    background-color: #292929;
    margin-bottom: 10px;
}

.header p {
    margin-top:15px;
    position: absolute;
    left: 45%;
    margin-left: 10px;
    color: white;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;   
}

.header a, li {
    color: white;
    float: left;
    align-items: center;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    margin-right: 10px;
    border-radius: 4px;
}

li.registro {
    /* margin-top:15px; */
    margin-left: 10px;
}

.header-right {
    margin-top:10px;
    margin: 10px;
    float: right;
}

a:hover {
    background-color: #ddd;
    color: black;
}

/* Con estas lineas de aquí nos permite ajustar el CSS cuando rescalas la página. */
@media screen and (max-width: 1050px){
    body {
        font-family: Roboto;
        margin: 0;
        /* background-color: #666565; */
        background-image: url("img/fondo.jpg");
        background-repeat: repeat;
        background-size: 100%;
        /* color: pink; */
    }

    .cuerpo{
       /* background-color: #474747;  */
        padding: 15px;
        margin: auto;
        /* border: 1px solid black; */
        text-align: center;
        margin-top:30px;
        font-size: 25pt;
        width: 100%;
        height: 100%;
        background-image: url("img/prueba.jpg");
        background-repeat: repeat;
        background-size: 100%;
        background-position:center ;
    }

    .cuerpo form{
        font-size: 10pt;
    }


}

.cuerpo{
    /* background-color: #474747;  */
    padding: 15px;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    margin-top:45px;
    font-size: 25pt;
    width: 90%;
    height: 100%;
    background-image: url("img/prueba.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.Pie_Alertas h1{
    text-align: center;
    color:rgb(255, 252, 248);
}

