body {
    font-family: Roboto;
    margin: 0;
}

.header {
    overflow: hidden;
    background-color: #292929;
}

.header p {
    margin-left: 10px;
    color: white;
    float: left;
    align-items: center;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
}

.header-right {
    margin: 10px;
    float: right;
}

.header a,li {
    color: white;
    float: left;
    align-items: center;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    margin-right: 10px;
    border-radius: 4px;
}

.header a {
    padding: 5px;
}

a:hover:not(.logomain) {
    background-color: #ddd;
    color: black;
}

li.cerrarSesion {
    margin-left: 10px;
}

.header input[type=text] {
    float: left;
    padding: 6px;
    border: 1px solid black;
    font-size: 16px;
}

button {
    background: #ddd;
    font-size: 24px;
    border: 1px solid black;
    cursor: pointer;
}

table {
    margin: 50px auto;
    width: 70%;
    border-color: white;
    border-collapse: collapse;
}


th {
    padding: 10px;
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: 1px solid black;
    background-color: #292929;
    color: white;
}

td {
    padding: 10px;
    width: 25%;
    vertical-align: top;
    border: 1px solid #000;
}

td a {
    text-decoration: none;
    color: black;
}

tr:hover {
    background-color: #ddd;
}
